/* Created by: Ekaterina
* Created on: Oct 2022
* This file contains the CSS for index2.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

body {
  background-color: #43b9d0;
}
